
.bienvenida-title {
    text-align: center;
    font-size: 1.7em;
    font-family: "Lora-Italic";
    font-weight: 400;
    color: font-color-primary;
    margin-top: 4rem;
    width: 100%;
    max-width: 480px;
    line-height: normal;
  }
  
  .welcome-heart {
    width: 135px;
    margin-top: 1.3rem;
    margin-bottom: 1vh;
  }
  
  .bienvenida-p {
    font-size: 1.4em;
    font-family: $font-primary;
    font-weight: 400;
    color: #778690;
    margin-top: 1rem;
    width: 100%;
    max-width: 450px;
    text-align: center;
  }
  
  .welcome-logo {
    width: 25vh;
    margin-top: 0.7vh;
    align-self: center;
  }
 
  // MEDIA QUERIES
@media screen and (max-aspect-ratio: 4/3) {
}

@media screen and (max-aspect-ratio: 1/1) {
}

@media screen and (max-aspect-ratio: 5/6) {
}

@media screen and (max-aspect-ratio: 4/5) {
}

@media screen and (max-aspect-ratio: 3/5) {
}