
.cuerpodh {
    width: 33vw;
  }
  
  .ruedadh {
    width: 33vw;
    margin-left: 5vw;
  }
  
  .d-humano {
    margin-top: 14vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75vw;
  }
  .d-humano__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
  }
  
  .informes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75vw;
    margin-top: 10vh;
  }
  
  .informes-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  