
.heart {
    width: 150px;
    margin-top: 6.5vh;
    margin-bottom: 1vh;
    align-self: center;
  }
  
  .gracias-title {
    text-align: center;
    font-size: 2.4em;
    font-family: $font-tertiary;
    font-weight: 400;
    color: font-color-primary;
    text-align: center;
    margin-top: 1.5rem;
    width: 100%;
    max-width: 450px;
  }
  
  .gracias-p {
    font-size: 20px;
    font-family: $font-primary;
    font-weight: 400;
    color:  text-color-primary;
    margin-top: 1rem;
    width: 100%;
    max-width: 450px;
  }
  